*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* To Box Model */
}

/* Global */
body{
    font-family: "Merriweather", sans-serif; 
    background-color: #ebf2ff;
}

.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 2px 9px;
    box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.25);
}

.navbar__brand{
    width: 90px;
}

.navbar__logo{
    width: 100%;
}

.hero__container{
    width: 100%;
    padding: 0 10px;
}

.hero__image__container{
    width: 100%;
    position: relative;
}

.hero__image{
    width: 100%;
    position: relative;
    z-index: 2;
    top: 50px;
    left: auto;
    border-radius: 7px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__description{
    width: 100%;
    margin: 50px 0;
    padding: 0 7px;
}

.hero__text{
    font-size: 30px;
    color: #1d3557;
    margin-top: 150px;
}

.hero__bg__pattern{
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0;
}

.hero__shape{
    width: 100%;
    position: absolute;
    top: 15px;
    left: 5px;
}

/* Menu Styles */

.explore__menu__text{
    font-size: 30px;
    font-weight: 1000;
    color: #1d3557;
    margin: 5px 0;
    text-align: center;
    margin-bottom: 20px;
}

.food__menu__card{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.food__image{
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__menu__card__description{
    padding: 15px;
}

.explore__menu__view__more{
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Restaurants */

.restaurants_description{
    font-size: 30px;
    font-weight: 1000;
    color: #1d3557;
    margin: 10px 0;
    text-align: center;
}
.restaurants__flex__row__one, .restaurants__flex__row__two{
    width: 100%;
    display: flex;
    gap: 4px;
}
.restaurants__flex__row__one{
    align-items: baseline;
    margin-bottom: 4px;
}

.restaurant__1__image, .restaurant__2__image, .restaurant__3__image, .restaurant__4__image{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.restaurant__1, .restaurant__4{
    width: 100%;
    height: 150px;
}

.restaurant__2, .restaurant__3{
    width: 120%;
    height: 200px;
}

/* Stay updated*/

.stay__updated__container{
    width: 100%;
    margin: 10px 0;
}

.stay__updated__text{
    width: 100%;
    font-size: 25px;
    font-weight: 1000;
    color: #1d3557;
}

.stay__updated__info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stay__updated__email{
    width: 100%;
}

.stay__updated__email__input{
    background-color: rgb(241, 219, 235);
    border-color: pink;
    border-radius: 3px;
    width: 100%;
}

@media(min-width: 768px){
    .container{
        padding: 0 8px;
    }
    .navbar{
        justify-content: space-between;
        padding: 0 10px;/* top&bottom left&right */
    }
    .navbar__brand{
        width: 100px;
    }
    .button__primary{
        padding: 8px 10px;
        font-size: 13px;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 120px;
    }
    .hero__image__container{
        width: 150%;
        top: -30px;
    }
    .hero__text{
        font-size: 30px;
        font-weight: 900;
    }
    .hero__image{
        margin-top: 0px;
    }
    .explore__menu__lists{
        display: flex;
        gap: 8px;
        margin: 50px;
    }

    .explore__menu__container{
        position: relative;
    }
    .explore__menu__gradient__bg{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
        );
        transform: skewY(-5deg);
    }

    #pizza__card{
        margin-top: -20px;
        margin-bottom: 30px;
    }
    .restaurants_description{
        font-size: 40px;
        width: 100%;
    }

    .restaurants__container{
        display: flex;
        align-items: center;
    }

    .restaurants__flex{
        width: 100%;
    }

    .stay__updated__container{
        width: 100%;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stay__updated__text{
        width: 50%;
    }
    .stay__updated__info{
        width: 50%;
        justify-content: center;
    }
    .stay__updated__button{
        width: 40%;
    }
    
}

@media(min-width: 1020px){
    .hero__image__container{
        max-width: 100%;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    .hero__text{
        font-size: 40px;
    }
    .navbar{
        padding: 0 10px;
    }
    .explore__menu__lists{
        gap: 20px;
        padding: 0 20px;
    }
    .explore__menu__text{
        font-size: 50px;
    }
    .restaurants__container{
        margin-top: 30px;
    }
    .stay__updated__button{
        width: 27%;
    }
}

@media(min-width: 1400px){
    .hero__image__container{
        max-width: 100%;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .container{
        max-width: 1300px;
    }
    .navbar{
        padding: 0 3rem;
    }
    .hero__text{
        font-size: 50px;
    }
    .restaurants__flex{
        width: 150%;
        height: 200%;
    }
    .restaurants__container{
        height: 200%;
    }
    .stay__updated__button{
        width: 20%;
    }
}